* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('assets/fundomap.jpeg');
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 85%;
    width: 85%;
    background-color: #f5f5f5;
    /*   background-color: transparent;
    backdrop-filter: blur(150px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    overflow: hidden; */
    border-radius: 20px;
    display: flex;


}

.main-esquerdo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.main-direito {
    width: 40%;
    height: 100%;
    background-image: url(/assets/backgroud-celular.jpeg);
    background-size: contain;
    background-position: center;
    background-color: #c6e0c8;
    border-radius: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85%;
    width: 70%;
  
    h1{ font-size: 50px; display: flex; justify-content: center;}
    p{font-size: 20px;}
    label{font-size: 25px;}
}

input::placeholder{ font-size: 20px;}
.mensagem{width: 100%; height: 5rem; border-radius: 6px;}
.mensagem::placeholder{font-size: 20px; text-align: start;padding: 5px;}

input{height: 40px;
    border-radius: 6px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
        background-color: #C6E0C8;
    
        width: 100%;
        height: 35px;
    }